body,
html {
  width: 100%;
  height: 100%; 
}

body {
  font-family: 'Montserrat', sans-serif;
}
header.startup {
	background-image: url("world.jpg");
	background-position: center;
	background-size: cover;
	height: 100%;

}

h4.faded {
	color:white;
	border: 1px solid rgba(78, 49, 65,0.2);
 	
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #163A8E;
  border-color: #163A8E; }

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 3px;
  cursor: pointer;
}
